<button *ngIf="isFriend === 0" (click)="sendRequest()" class="btn btn-primary margin-button"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;{{message}}</button>

<div *ngIf="isFriend === 1" class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    <i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Sent request !
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="removeFriend(friend_id)">Cancel request</a>
  </div>
</div>


<div *ngIf="isFriend === 2" class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    Friend
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="removeFriend(friend_id)">Unfriend</a>
  </div>
</div>
