<table style="margin-top: 10px; border-radius: 5px" class="table table-primary table-borderless">
  <thead class="bg-primary">
  <tr>
    <th colspan="4" scope="col">Submission recent</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let submit of submission">
    <td>{{submit.exercise?.team?.account?.name}}</td>
    <td><a routerLink="/exercise-details/{{submit.exercise_code}}">{{submit.exercise_code}}</a></td>
    <td>{{submit.language.name}}</td>
    <td>{{submit.score}}</td>
  </tr>
  </tbody>
</table>
