<div class="card text-white bg-success margin-element">
  <div class="card-header text-uppercase-bold"><i class="fa fa-pencil" aria-hidden="true"></i> Submit examination recent</div>
  <div class="table-responsive">
    <table class="card-table table table-borderles bg-white">
      <tbody>
      <tr class="text-bold">
        <td width="50%">Name</td>
        <td width="10%">Score</td>
        <td width="30%">Col.</td>
        <td width="10%">Times</td>
      </tr>
      <tr *ngFor="let exam of examinations">
        <td><a routerLink="/profile/{{exam?.account?.id}}" [ngbTooltip]="tipContent" data-html="true">{{exam?.account?.name}}</a></td>
        <td>{{exam?.score}}</td>
        <td><a data-toggle="tooltip" data-placement="top" data-html="true"
               title="{{exam?.collection?.name}}">{{exam?.code_collection}}</a></td>
        <td>{{exam?.times_submit}}</td>
        <ng-template #tipContent>
          <app-ttacount [account]="exam?.account"></app-ttacount>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</div>
