<div class="row">
  <div class="col-sm-12">
    <app-menu-admin></app-menu-admin>
  </div>
</div>
<form (ngSubmit)="editExercise(formAddExercise)" #formAddExercise="ngForm" action="">
  <div class="row">
    <div class="col-sm-6">

      <div class="form-group">
        <label>Code exercise (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtCodeExercise.touched ?
         (txtCodeExercise.value.length < 3 || txtCodeExercise.value.length > 8 ||
         txtCodeExercise.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtCodeExercise="ngModel" placeholder="Code exercise" [(ngModel)]="exercise_code" name="exercise_code"
               readonly>
      </div>


      <div class="form-group">
        <label for="code">Question (<b style="color: red">*</b>)</label>
        <textarea id="code" #txtQuestion="ngModel" name="question" ngModel></textarea><br>
      </div>


      <div class="form-group">
        <label>Name (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtName.touched ?
         (txtName.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtName="ngModel" placeholder="Name exercise" [(ngModel)]="name" name="name">
        <div
          *ngIf="txtName.touched ? (txtName.invalid):false"
          class="invalid-feedback">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label>Time limit (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtTimeLimit.touched ?
         (txtTimeLimit.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtTimeLimit="ngModel" placeholder="Time limit of exercise" [(ngModel)]="time_limit"
               name="time_limit">
        <div
          *ngIf="txtTimeLimit.touched ? (txtTimeLimit.invalid):false"
          class="invalid-feedback">
          Time limit is required
        </div>
      </div>


      <div class="form-group">
        <label>Memory limit (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtMemoryLimit.touched ?
         (txtMemoryLimit.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtMemoryLimit="ngModel" placeholder="Memory limit of exercise"
               [(ngModel)]="memory_limit"
               name="memory_limit">
        <div
          *ngIf="txtMemoryLimit.touched ? (txtMemoryLimit.invalid):false"
          class="invalid-feedback">
          Memory Limit is required
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Input 1 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtInput1.touched ?
         (txtInput1.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtInput1="ngModel" placeholder="Input 1" [(ngModel)]="input1" name="input1">
        <div
          *ngIf="txtInput1.touched ? (txtInput1.invalid):false"
          class="invalid-feedback">
          Input 1 is required
        </div>
      </div>
      <div class="form-group">
        <label>Output 1 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtOutput1.touched ?
         (txtOutput1.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtOutput1="ngModel" placeholder="Output 1" [(ngModel)]="output1"
               name="output1">
        <div
          *ngIf="txtOutput1.touched ? (txtOutput1.invalid):false"
          class="invalid-feedback">
          Output 1 is required
        </div>
      </div>

      <div class="form-group">
        <label>Input 2 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtInput2.touched ?
         (txtInput2.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtInput2="ngModel" placeholder="Input 2" [(ngModel)]="input2" name="input2">
        <div
          *ngIf="txtInput2.touched ? (txtInput2.invalid):false"
          class="invalid-feedback">
          Input 2 is required
        </div>
      </div>
      <div class="form-group">
        <label>Output 2 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtOutput2.touched ?
         (txtOutput2.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtOutput2="ngModel" placeholder="Output 2" [(ngModel)]="output2"
               name="output2">
        <div
          *ngIf="txtOutput2.touched ? (txtOutput2.invalid):false"
          class="invalid-feedback">
          Output 2 is required
        </div>
      </div>

      <div class="form-group">
        <label>Input 3 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtInput3.touched ?
         (txtInput3.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtInput3="ngModel" placeholder="Input 2" [(ngModel)]="input3" name="input3">
        <div
          *ngIf="txtInput3.touched ? (txtInput3.invalid):false"
          class="invalid-feedback">
          Input 3 is required
        </div>
      </div>
      <div class="form-group">
        <label>Output 3 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtOutput3.touched ?
         (txtOutput3.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtOutput3="ngModel" placeholder="Output 3" [(ngModel)]="output3"
               name="output3">
        <div
          *ngIf="txtOutput3.touched ? (txtOutput3.invalid):false"
          class="invalid-feedback">
          Output 3 is required
        </div>
      </div>

      <div class="form-group">
        <label>Input 4 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtInput4.touched ?
         (txtInput4.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtInput4="ngModel" placeholder="Input 4" [(ngModel)]="input4" name="input4">
        <div
          *ngIf="txtInput4.touched ? (txtInput4.invalid):false"
          class="invalid-feedback">
          Input 4 is required
        </div>
      </div>
      <div class="form-group">
        <label>Output 4 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtOutput4.touched ?
         (txtOutput4.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtOutput4="ngModel" placeholder="Output 4" [(ngModel)]="output4" name="output4"
        >
        <div
          *ngIf="txtOutput4.touched ? (txtOutput4.invalid):false"
          class="invalid-feedback">
          Output 4 is required
        </div>
      </div>

      <!--5-->
      <div class="form-group">
        <label>Input 5 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtInput5.touched ?
         (txtInput5.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtInput5="ngModel" placeholder="Input 5" [(ngModel)]="input5" name="input5">
        <div
          *ngIf="txtInput5.touched ? (txtInput5.invalid):false"
          class="invalid-feedback">
          Input 5 is required
        </div>
      </div>
      <div class="form-group">
        <label>Output 5 (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtOutput5.touched ?
         (txtOutput5.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtOutput5="ngModel" placeholder="Output 5" [(ngModel)]="output5"
               name="output5">
        <div
          *ngIf="txtOutput5.touched ? (txtOutput5.invalid):false"
          class="invalid-feedback">
          Output 5 is required
        </div>
      </div>


      <div class="form-group">
        <label>Team (<b style="color: red">*</b>) (Teams for collection)</label>
        <select required class="form-control" name="code_team" ngModel #team="ngModel"
                id="code_team">
          <option *ngFor="let l of listTeam" [selected]="code_team === l.code_team"
                  [ngValue]="l.code_team">{{l.name}}</option>
        </select>

        <div
          *ngIf="team.touched ? (team.invalid):false"
          class="invalid-feedback">
          Required choose the location
        </div>
      </div>


      <div class="form-group">
        <label for="status">Status (<b style="color: red">*</b>) (Status 1: Show, Status 0: Hide)</label>
        <select required class="form-control" name="status" ngModel #txtStatus="ngModel" id="status">
          <option [selected]="status === 1" value="1">Show</option>
          <option [selected]="status === 0" value="0">Hide</option>
        </select>
        <div *ngIf="txtStatus.touched ? (txtStatus.invalid):false" class="invalid-feedback">
          Required choose the status
        </div>
      </div>


      <div>{{errMsg}}</div>

      <div class="ui buttons">
        <button [disabled]="formAddExercise.invalid" class="btn btn-success" style="margin-right: 20px">Edit
          examination
        </button>
        <a routerLink="/admin/exercise/view" class="btn btn-primary">Back</a>
      </div>

    </div>
  </div>
</form>
