<div class="col-sm-5" style="width: 300px;">
  <form (ngSubmit)="changePass(formChangePass)" #formChangePass="ngForm" action="">


    <div class="form-group">
      <label>Old Password (<b style="color: red">*</b>)</label>
      <input type="password" class="form-control"
             [className]="txtOldPassword.touched ? (txtOldPassword.value.length < 6 || txtOldPassword.value.length > 32 || txtOldPassword.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
             #txtOldPassword="ngModel" placeholder="Password" ngModel name="old_password" required>
      <div
        *ngIf="txtOldPassword.touched ? (txtOldPassword.value.length < 6 || txtOldPassword.value.length > 32 || txtOldPassword.invalid):false"
        class="invalid-feedback">
        Length of password from 5 to 32 character.
      </div>

    </div>


    <div class="form-group">
      <label for="3">New Password (<b style="color: red">*</b>)</label>
      <input id="3" type="password"
             [className]="txtPassword.touched ? (txtPassword.value.length < 6 || txtPassword.value.length > 32 || txtPassword.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
             #txtPassword="ngModel" placeholder="Password" ngModel name="password" minlength="5" maxlength="32"
             required>
      <div
        *ngIf="txtPassword.touched ? (txtPassword.value.length < 6 || txtPassword.value.length > 32 || txtPassword.invalid):false">
        Length of password from 5 to 32 character.
      </div>
    </div>

    <div class="form-group">
      <label for="a">Re-pass (<b style="color: red">*</b>)</label>
      <input id="a" type="password"
             [className]="txtRepass.touched ? (txtRepass.value != txtPassword.value ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
             #txtRepass="ngModel" placeholder="Re Password" ngModel name="re_pass"
             pattern="{{txtPassword.value}}">
      <div *ngIf="txtRepass .touched && txtRepass.errors?.minlength">
        Length of password from 5 to 32 character.
      </div>

      <div
        *ngIf="txtRepass.touched ? (txtRepass.value != txtPassword.value):false">
        Re-type password not match with password
      </div>
    </div>
    <p>{{message}}</p>
    <div class="ui buttons">
      <button [disabled]="formChangePass.invalid" class="btn btn-success" style="margin-right: 20px">Change</button>
    </div>
  </form>
</div>
