<div class="ui center form" style="width: 300px;">
  <form (ngSubmit)="login(formLogin)" #formLogin="ngForm" action="">
    <div class="field">
      <label>Username (<b style="color: red">*</b>)</label>
      <input type="text"
             [style.border]="txtUsername.touched ? txtUsername.errors?.minlength ? '1px solid red' : '2px solid green': ''"
             #txtUsername="ngModel" placeholder="Username" ngModel name="username" minlength="6" maxlength="18">
      <div *ngIf="txtUsername.touched && txtUsername.errors?.minlength">
        Length of username from 6 to 18 character.
      </div>
    </div>
    <div class="field">
      <label>Password (<b style="color: red">*</b>)</label>
      <input type="password"
             [style.border]="txtPassword.touched ? txtPassword.errors?.minlength ? '1px solid red' : '2px solid green': ''"
             #txtPassword="ngModel" placeholder="Password" ngModel name="password" minlength="5" maxlength="32"
             required>
      <div *ngIf="txtPassword .touched && txtPassword.errors?.minlength">
        Length of password from 5 to 32 character.
      </div>
    </div>

    <div class="ui buttons">
      <button [disabled]="formLogin.invalid" class="ui positive button">Login</button>
      <div class="or"></div>
      <a routerLink="/request-password-reset" class="ui  button">Forget password</a>
    </div>
  </form>
</div>
