<div class="card text-white bg-success margin-element">
  <div class="card-header text-uppercase-bold"><i class="fa fa-trophy" aria-hidden="true"></i> Rank</div>
  <div class="table-responsive">
    <table class="card-table table table-borderles bg-white">
      <tbody>
      <tr class="text-bold">
        <td width="80%">Name</td>
        <td width="20%">Score</td>
      </tr>
      <tr *ngFor="let acc of topRank">
        <td> <a routerLink="/profile/timeline/{{acc.id}}" [ngbTooltip]="tipContent" data-html="true">{{acc.name}}</a></td>
        <td>{{acc?.score}}</td>
        <ng-template #tipContent>
          <app-ttacount [account]="acc"></app-ttacount>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
</div>
