<nav style="margin-bottom: 20px" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Codefulltime</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li [className]="active ==='Examination'? 'nav-item active': 'nav-item'">
        <a class="nav-link" routerLink="/">Examination <span class="sr-only">(current)</span></a>
      </li>
      <li [className]="active ==='Exercise'? 'nav-item active': 'nav-item'">
        <a class="nav-link" routerLink="/exercise">Exercise</a>
      </li>

      <li [className]="active ==='Rank'? 'nav-item active': 'nav-item'">
        <a class="nav-link" routerLink="/rank">Rank</a>
      </li>

      <li [className]="active ==='Submission'? 'nav-item active': 'nav-item'">
        <a class="nav-link" routerLink="/submission">Submission</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/news-feed"> News feed</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="notifyFeature()"> Notepad</a>
      </li>
      <li class="nav-item dropdown">
        <a *ngIf="isLoggedIn" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Hi, {{name}}
        </a>

        <a *ngIf="!isLoggedIn" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngIf="isLoggedIn" routerLink="/profile">Profile</a>
          <a class="dropdown-item" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
          <a class="dropdown-item" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
          <a class="dropdown-item" *ngIf="!isLoggedIn" routerLink="/register">Register</a>
          <a class="dropdown-item" *ngIf="isLoggedIn" routerLink="/change-pass">Change password</a>
          <a class="dropdown-item" *ngIf="isTeacher === 2 || isTeacher ===3" (click)="goToTeacher()">I'm a teacher </a>
          <!--<a class="dropdown-item" (click)="notifyFeature()">I'm a teacher </a>-->
        </div>
      </li>

    </ul>
    <form (ngSubmit)="search(ngvForm)" #ngvForm="ngForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" ngModel name="keyword" type="search" placeholder="Search" list="keyword" aria-label="Search">
      <datalist id="keyword">
        <option *ngFor="let k of keywords" value="{{k.key_word}}">{{k.times_search}}</option>
      </datalist>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
        Search
      </button>
    </form>
  </div>
</nav>
<!-- Button trigger modal -->
<button type="button" style="display: none" id="btnNotifyFeature" class="btn btn-primary" data-toggle="modal"
        data-target="#notifyFeature">
  Notification
</button>

<!-- Modal -->
<div class="modal fade" id="notifyFeature" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header  bg-primary">
        <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This feature will release in 22/4 !!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
