<div class="row">
  <div class="col-sm-8">
    <table class="table table-bordered table-light" id="example">
      <thead class="bg-success text-uppercase-bold text-white">
      <tr>
        <th width="10%" scope="col">#</th>
        <th width="50%" scope="col">Name</th>
        <th width="10%" scope="col">Score</th>
        <th width="20%" scope="col">Cup</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let acc of rank; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td><a routerLink="/profile/timeline/{{acc.id}}" [ngbTooltip]="tipContent" data-html="true">{{acc.name}}</a></td>
        <td>{{acc.score}}</td>
        <td>{{acc.cup.name}}</td>
        <ng-template #tipContent>
          <app-ttacount [account]="acc"></app-ttacount>
        </ng-template>
      </tr>
      </tbody>
    </table>
    <app-comment [codeObject]="'rank'"></app-comment>
  </div>
  <div class="col-sm-4">
    <app-examination-recent></app-examination-recent>
    <app-recent-submission></app-recent-submission>
  </div>
</div>

