<div class="row">
  <div class="col-sm-2">
    <h3>Action</h3>
    <a style="margin-bottom: 20px;" class="btn btn-primary" routerLink="/admin/team/add">Add new team</a><br>
    <a style="margin-bottom: 20px;" class="btn btn-success" routerLink="/admin/collection/add">Add new
      collection</a><br>
    <a style="margin-bottom: 20px;" class="btn btn-danger" routerLink="/admin/examination/add">Add new Examination</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h3>Your teams</h3>
    <table class="table table-striped table-bordered table-sm table-dark" cellspacing="0" width="100%">
      <thead class="full-width">
      <tr>
        <th width="20%">Code</th>
        <th width="60%">Name</th>
        <th width="20%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of teams" >
        <td (click)="clickToViewCollection(team.code_team)">{{team.code_team}}</td>
        <td (click)="clickToViewCollection(team.code_team)">{{team.name}}</td>
        <td><a routerLink="/admin/team/edit/{{team.code_team}}" class="btn btn-warning">Edit</a></td>
      </tr>
      </tbody>

    </table>

  </div>
  <div *ngIf="collections.length > 0" class="col-sm-3">
    <h3>List collection in {{currentTeam}}</h3>
    <table class="table table-striped table-bordered table-sm table-dark" cellspacing="0" width="100%">
      <thead class="full-width">
      <tr>
        <th width="20%">Code</th>
        <th width="60%">Name</th>
        <th width="20%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let collection of collections" >
        <td (click)="clickToViewExamination(collection.code_collection)">{{collection.code_collection}}</td>
        <td (click)="clickToViewExamination(collection.code_collection)">{{collection.name}}</td>
        <td><a routerLink="/admin/collection/edit/{{collection.code_collection}}"
               class="btn btn-warning">Edit</a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="examinations.length > 0" class="col-sm-6">
    <h3>List question in {{currentCollection}}</h3>
    <table class="table table-striped table-bordered table-sm table-dark" cellspacing="0" width="100%">
      <thead class="full-width">
      <tr>
        <th width="20%">Code</th>
        <th width="40%">Question</th>
        <th width="40%">Explain</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let examination of examinations " >
        <td (click)="detailsExamination(examination.code_examination)">{{examination.code_examination}}</td>
        <td (click)="detailsExamination(examination.code_examination)">{{examination.question}}</td>
        <td>{{examination.explain_question}}</td>
        <td><a routerLink="/admin/examination/edit/{{examination.code_examination}}"
               class="btn btn-warning">Edit</a>
        </td>
      </tr>
      </tbody>

      <tfoot>
      <tr>
        <th colspan="3">
          <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
              <button type="button" class="btn btn-secondary">1</button>
              <button type="button" class="btn btn-secondary">2</button>
              <button type="button" class="btn btn-secondary">3</button>
              <button type="button" class="btn btn-secondary">4</button>
            </div>
          </div>
        </th>
      </tr>
      </tfoot>
    </table>

  </div>


</div>
<router-outlet></router-outlet>
