<div class="ui center form" style="width: 300px;margin: auto auto">

  <form (ngSubmit)="createNewPass(formNewPass)" #formNewPass="ngForm" action="">
    <div class="form-group">
      <label for="email">Email (<b style="color: red">*</b>)</label>
      <input id="email" type="text" class="form-control"
             [className]="txtEmail.touched ? (txtEmail.value.length < 6 || txtEmail.value.length > 50 || txtEmail.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
             #txtEmail="ngModel" placeholder="Email" ngModel name="email" required email>
      <div
        *ngIf="txtEmail.touched ? (txtEmail.value.length < 6 || txtEmail.value.length > 50 || txtEmail.invalid):false"
        class="invalid-feedback">
        Email incorrect format
      </div>
    </div>

    <div class="form-group">
      <label>Password (<b style="color: red">*</b>)</label>
      <input type="password" class="form-control"
             [className]="txtPassword.touched ? (txtPassword.value.length < 6 || txtPassword.value.length > 32 || txtPassword.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
             #txtPassword="ngModel" placeholder="Password" ngModel name="password">
      <div
        *ngIf="txtPassword.touched ? (txtPassword.value.length < 6 || txtPassword.value.length > 32 || txtPassword.invalid):false"
        class="invalid-feedback">
        Length of password from 5 to 32 character.
      </div>

    </div>

    <div class="form-group">
      <label>Re Password (<b style="color: red">*</b>)</label>
      <input type="password" class="form-control"
             [className]="txtRepass.touched ? (txtRepass.value != txtPassword.value ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
             #txtRepass="ngModel" placeholder="Password" ngModel name="password_confirmation">
      <div
        *ngIf="txtRepass.touched ? (txtRepass.value != txtPassword.value):false">
        Re-type password not match with password
      </div>
    </div>
    <div>{{message}}</div>
    <div class="ui buttons">
      <button [disabled]="formNewPass.invalid" class="btn btn-success">Reset password</button>
    </div>
  </form>
</div>
