<div class="row">
  <div class="col-sm-8">
    <form ngForm #formSubmit="ngForm" (ngSubmit)="sendSolution()" action="">
      <div class="form-group">
        <label>Code exercise (<b style="color: red">*</b>)</label>
        <input type="text" class="form-control"
               [className]="txtCodeExercise.touched ?
         (txtCodeExercise.value.length < 3 || txtCodeExercise.value.length > 6 ||
         txtCodeExercise.invalid ? 'form-control is-invalid':'form-control is-valid'):'form-control'"
               #txtCodeExercise="ngModel" placeholder="Code exercise" [(ngModel)]="exercise_code" name="exercise_code"
               readonly>
      </div>

      <div class="form-group">
        <label for="code">Question (<b style="color: red">*</b>)</label>
        <textarea id="code" #txtQuestion="ngModel" name="question" ngModel></textarea><br>
        <div
          *ngIf="txtQuestion.touched ? (txtQuestion.value.length < 3 || txtQuestion.value.length > 6 || txtQuestion.invalid):false"
          class="invalid-feedback">
          Length of code from 3 to 6 character.
        </div>

        <label for="theme"></label>
        <select required="required" class="form-control" id="theme" (change)="selectTheme(th)" #th="ngModel"
                [(ngModel)]="theme" name="theme">
          <option value="dracula">dracula</option>
          <option value="midnight">midnight</option>
        </select>

        <label for="language"></label>
        <select required="required" class="form-control" id="language" (change)="selectLanguage(lg)" #lg="ngModel"
                [(ngModel)]="language"
                name="type_of_language">
          <option value="{{lang.code}}" *ngFor="let lang of listLanguage">{{lang.name}}</option>
        </select>
      </div>
      <div *ngIf="clickedSendSolution" class="spinner-border text-primary" style="margin-top: 5px; margin-bottom: 5px"
           role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <br>
      <button class="btn btn-success margin-button" type="submit" [disabled]="formSubmit.invalid"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send solution</button>
      <button class="btn btn-primary margin-button" type="button" data-toggle="collapse" data-target="#howToWrite"
              aria-expanded="false" aria-controls="howToWrite">
        <i class="fa fa-question" aria-hidden="true"></i> How to write code
      </button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#codeExample"
              aria-expanded="false" aria-controls="codeExample">
        <i class="fa fa-arrows-alt" aria-hidden="true"></i> Code example
      </button>
      <div class="collapse" id="howToWrite">
        <div class="card card-body">
          <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> Not used the command to stop the screen or special system commands like system(“pause”), getch(),…</p>
          <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> with C / C ++ not used library conio.h</p>
          <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> With all the strings, you not use fflush(stdin) to clear buffer, if it gets deleted buffer use 2 once for strings.</p>
          <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> For java, you named class always Main (class Main).</p>
        </div>
      </div>
      <div class="collapse" id="codeExample">
        <div class="card card-body">
          <div class="row">
            <div class="col-sm-5">
              <h3>Java</h3>
              <img src="assets/image/javacode.png" />
            </div>
            <div class="col-sm-4">
              <h3>C++</h3>
              <img src="assets/image/cpluscode.png" />
            </div>
            <div class="col-sm-3">
              <h3>Python</h3>
              <img src="assets/image/python.png"/>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="col-sm-4">
    <div id="output"></div>


  </div>
</div>
