<div class="row">
  <div class="col-sm-8">
    <div>
      <h3>{{exercise?.name}}</h3>
    </div>
    <div id="content"></div>
    <div class="submit" align="center">
      <a *ngIf="isLoggedIn" style="margin-right: 10px" class="btn btn-success margin-button"
         routerLink="/exercise-submit/{{exercise_code}}"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</a>
      <app-report-errore [name_object]="'exercise'" [code_object]="exercise?.exercise_code"></app-report-errore>
      <a *ngIf="!isLoggedIn" class="btn btn-primary" routerLink="/login"><i class="fa fa-sign-in"
                                                                            aria-hidden="true"></i> Required login first</a>
      <app-like [code_object]="exercise_code"></app-like>
    </div>
    <app-comment [codeObject]="exercise_code"></app-comment>
  </div>
  <div class="col-sm-4">
    <div class="card text-white bg-success margin-element">
      <div class="card-header text-uppercase-bold"><i class="fa fa-info" aria-hidden="true"></i> Information
        of {{exercise_code}}</div>
      <div class="table-responsive">
        <table class="card-table table table-borderles bg-white">

          <tbody>
          <tr>
            <td width="60%">Exercise code</td>
            <td class="text-xl-right" width="30%">{{exercise?.exercise_code}}</td>
          </tr>

          <tr>
            <td>Best score</td>
            <td class="text-xl-right">{{exercise?.best_score}}</td>
          </tr>

          <tr>
            <td>Time limit</td>
            <td class="text-xl-right">{{exercise?.time_limit}} s</td>
          </tr>

          <tr>
            <td>Memory limit</td>
            <td class="text-xl-right">{{exercise?.memory_limit}} MBs</td>
          </tr>

          <tr>
            <td>Team</td>
            <td class="text-xl-right">{{exercise?.team.name}}</td>
          </tr>

          <tr>
            <td>Input</td>
            <td class="text-xl-right">Standard Input</td>
          </tr>

          <tr>
            <td>Output</td>
            <td class="text-xl-right">Standard Output</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-submission-for-exercise [codeExercise]=exercise_code></app-submission-for-exercise>
  </div>
</div>
