<div style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-9">
      <div>
        <h3>{{exercise?.name}}</h3>
      </div>
      <div id="content"></div>
      <div class="submit" align="center">
        <a *ngIf="isLoggedIn" style="margin-right: 10px" class="btn btn-success" routerLink="/exercise-submit/{{exercise_code}}">Submit now</a>
        <app-report-errore [name_object]="'exercise'" [code_object]="exercise?.exercise_code"></app-report-errore>
        <a *ngIf="!isLoggedIn" class="btn btn-primary" routerLink="/login">Required login first</a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-white bg-success mb-3">
        <ul style="color: #0c0c0d" class="list-group">
          <li class="list-group-item active">Information of exercise</li>
          <li class="list-group-item">Exercise code: {{exercise?.exercise_code}}</li>
          <li class="list-group-item">Best score: {{exercise?.best_score}}</li>
          <li class="list-group-item">Time limit: {{exercise?.time_limit}} s</li>
          <li class="list-group-item">Memory limit: {{exercise?.memory_limit}} MBs</li>
          <li class="list-group-item">Team: {{exercise?.team.name}}</li>
          <li class="list-group-item">Input: Standard Input</li>
          <li class="list-group-item">Output: Standard Output</li>
        </ul>
      </div>

      <table style="margin-top: 10px; border-radius: 5px" class="table table-dark table-borderless">
        <thead class="bg-success">
        <tr>
          <th colspan="4" scope="col">Submission for exercise</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let submit of submission">
          <td>{{submit.exercise?.team?.account?.name}}</td>
          <td><a routerLink="/exercise-details/{{submit.exercise_code}}">{{submit.exercise_code}}</a></td>
          <td>{{submit.language.name}}</td>
          <td>{{submit.score}}</td>
        </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
